body{
    margin: 0;
}

.header{
    width: 90vw;
    height: 15vh;
    padding-left: 10vw;
    background-color: #151D3B;
    color: #e0dddd;
    font-size: 50px;
    font-weight: bold;
    display: flex;
    align-items: center;
    
}
.app-root{
    margin: 0;
}

.main-content{
    padding-top: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    gap: 80px;
    width: 100vw;
    background-color: #D1D1D1;
    padding-bottom: 10vh;

}
.input-field{
    
    width: 40vw;
    background-color: #f3ecec;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

.personal-info{
    display: flex;
    flex-direction: column;
    gap: 1vh;
    padding: 1.5vh;
    
}
.input-main{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.pers-info-descr{
    margin-bottom: 1vh;
    font-weight: bold;
    font-size: 24px;
}
.education-form, .experience-form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.education-div, .experience-div{
    padding: 1.5vh;
    display: flex;
    flex-direction: column;
    gap: 1vh;
}



.education-button{
    height: 4vh;
    border: none;
    background-color: rgb(66, 61, 61);
    border-radius: 5px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    width: 100%;
}
.education-button:hover{
    background-color: rgb(36, 33, 33);
}
.education-button:active{
    background-color: black;
}

.cv-display{
    height: 85vh;
    width: 40vw;
    border-radius: 5px;
}
.first-name, .last-name, .title, .description, .phone-number, .address, .email{
    border: none;
    background-color: white;
    color: black;
    outline: none;
    height: 2.5vh;
    border-radius: 5px;
}
.description{
    height: 5vh;
}

.footer{
    font-size: 25px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
   gap: 20px;
   height: 7vh;
   width: 100vw;
   color:#e0dddd;
   background-color: #362706;
}



.githubSvg{
    transition: transform 0.15s ease-in-out 0s;
}
.githubSvg:hover{

    transform: scale(1.3);
    
}